/* ITEMS */

body {
    background-color: #E8E8E8;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: #222;
    text-decoration: none;
    /* no underline */
}

/* HEADER */

.header {
    height: 80px;
    background-color: #FFFFFF;
}

.header>.content {
    max-width: 800px;
    margin: auto auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

/* CONTENT */

.wrapper {
    margin: 1rem auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    background-color: #F8F8F8;
    padding: 0;
}

/* ARTICLES */

.articles {
    background-color: #FFFFFF;
    flex: 2;
}

.articles>.title {
    background-color: #8A8D08;
    color: #FFFFFF;
    margin: 0;
    padding: 0.5rem 0.7rem;
}

.articles>.list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    padding: 1rem;
}

.article {
    border-top: 4px #8A8D08 solid;
    box-shadow: 0px 3px 0px 2px rgba(242, 242, 242, 1);
    min-width: 200px;
}

.article .title {
    margin: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
    min-height: 42.2px;
    border-bottom: 4px #8A8D08 solid;
}

.article .content {
    padding: 0rem 0.5rem;
}

/* EVENTS */

.events {
    flex: 1;
}

.events>.title {
    margin: 0;
    padding: 0.5rem 0.7rem;
}

.event {
    background-color: #FFFFFF;
    padding: 0.8rem;
    transition-duration: 0.25s;
    margin: 1rem;
    box-shadow: 0px 3px 0px 0px rgba(230, 230, 230, 1);
}

.event:hover {
    transform: scale(1.05);
}

.event .title {
    color: #8A8D08;
    padding: 0;
    margin: 0.5rem 0rem;
}

.event ol {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: smaller;
}

.event ol li {
    padding: 0.1rem;
}

.event span {
    font-weight: bold;
}

/* FUNCTIONALITIES */

/* READ MORE */

[id^="more"] {
    display: none;
}

button {
    margin: 0.5rem;
    background-color: #8A8D08;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.read-article {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.read-article .content {
    background-color: #fefefe;
    margin: auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 80%;
    overflow: auto;
}

/* MAP */

#map {
    margin: 0px auto;
    padding: 0px;
    height: 300px;
    max-width: 800px;
}

@media only screen and (max-width: 800px) {
    .wrapper {
        flex-direction: column;
    }
}


@media only screen and (max-width: 480px) {
    .articles>.list {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 1rem;
    }
}